## {{ name if name else "Plugin " ~ plugin_id }}
Plugin: {{ plugin_id }}
{% if family %}
Family: {{ family }}
{% endif %}
{% if risk_factor %}
Risk: {{ risk_factor }}
{% endif %}
{% if cves %}

**CVEs:** {{ cves | join(', ') }}
{% endif %}
{% if cvss_vectors %}

**CVSS:**
{% for key, vector in cvss_vectors.items() %}
- {{ key }}: `{{ vector }}`
{% endfor %}
{% endif %}
{% if synopsis %}

**Synopsis:**
{{ synopsis }}
{% endif %}
{% if description %}

**Description:**
{{ description }}
{% endif %}
{% if solution %}

**Solution:**
{{ solution }}
{% endif %}
{% if see_also %}

**See also:**
{% for url in see_also %}
- {{ url }}
{% endfor %}
{% endif %}
{% if unresolved_includes %}

**Could not resolve these includes:** {{ unresolved_includes | join(', ') }}
{% endif %}
